@require '../themes/variables.styl' 
.footer-custom .footer-apps
    float: none
    width: 100%
    margin: 0

.footer-apps > div
    display : flex

.footer-custom .footer-links-sub li .link
.footer-custom a
    &:link
        text-decoration: none
        color: #888
        padding: 5px 0
        display: block
    &:visited
        text-decoration: none
        color: #888
        padding: 5px 0
        display: block

.footer-custom .footer-links-sub li .link
.footer-custom a
.footer-custom a
    &:link
        max-width: 100px
    &:visited
        max-width: 100px
        margin: 0 .5em

.footer-custom .footer-apps a
    max-width: 100px
    margin: 0 .5em

@media only screen and (min-width: $break-point-medium)
    .footer-custom .footer-links-sub li .link
    .footer-custom a
        &:link
            padding: 0
        &:visited
            padding: 0

@media only screen and (max-width: $break-point-medium)
    .footer-apps > div
        display : block
